<footer class="page-footer font-small pt-4" style="background-color: rgb(230, 99, 129);">
<div class="container">
  <div class="row">
    <div class="col-md-12 d-flex justify-content-center">
      <h4 class="text-white">Siga-nos nas redes sociais</h4>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12 d-flex justify-content-center">

    <ul class="social-network">
      <li>
        <a href="https://www.linkedin.com/in/let%C3%ADcia-paoleschi-a15342234/" target="_blank" class="icolinkedl">
        <i class="fa fa-linkedin" aria-hidden="true"></i>
       </a>
     </li>

     <li>
      <a href="https://www.instagram.com/" target="_blank" class="icoinsta">
      <i class="fa fa-instagram" aria-hidden="true"></i>
     </a>
     </li>
     <li>
      <a href="https://github.com/leticiapaoleschi" target="_blank" class="icogit">
        <i class="fa fa-github" aria-hidden="true"></i>
     </a>
    </li>

   </ul>

  </div>
</div>



</footer>
