ul.social-network{
  list-style: none;
  padding: 0%;
}

ul.social-network li {
display: inline;
margin: 0%;
padding: 5px;
}

.fa{
font-size: 25pt;
color: rgb(115, 4, 4);
padding: 10px;
}

.fa-linkedin:hover {
  color: rgb(46, 106, 209);
}
.fa-instagram:hover {
  color: #c13584;
}
.fa-github:hover {
  color: black;
}
