<nav class="navbar navbar-expand-lg navbar-light " style="background-color: rgb(205, 71, 91);">

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado" aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
    <ul class="navbar-nav mr-auto d-flex align-items-center">
      <li class="nav-item active">
      <img src="https://avatars.githubusercontent.com/u/100284453?s=400&u=86fd5df5e6198adbf359672f535e7c4ddabb4860&v=4" alt="Imagem do user" width="100px" height="100" class="img-fluid rounded-circle">
      </li>
      <li class="nav-item pl-5">
        <p class="m-0 font-weight-bold fs-16 text-white"> Nome do usuário </p>
      </li>
<li class="nav-item pl-5">
  <a href="">
    <p class="text-white fs-16 m-0">
      <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
    </p>
  </a>
</li>

<ul class="navbar-nav m-auto d-flex align-items-center">
  <li class="nav-item pl-5">
    <a class="m-0 font-weight-bold text-white fs-16"> Sair <i class="fa fa-sign-out" aria-hidden="true"> </i> </a>
  </li>
</ul>

    </ul>

  </div>
</nav>
